<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Posts</title>

    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="my-posts.css">
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../util/util.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {

            var userId = getCookie("userId");

            $scope.clearPosts = function () {
                $scope.posts = null;
            };

            $http.get("/get-posts", {params: {userId: userId}}).then(function (response) {
                $scope.posts = response.data;
            });


            $scope.onEditPost = function () {

                if($scope.editPost){

                    $("#edit-form").hide();
                    $("#overLay").hide();

                    // set new values for edit post
                    $scope.editPost.timestamp = new Date().getTime();

                    $scope.editPost.type = $scope.SelectInput;

                    // the new post
                    var post = $scope.editPost;

                    // set edit post back to null
                    $scope.editPost = null;
                    $.post("/edit-post", {post: post}, function (result) {
                        if (result === "OK") {

                        }
                    });

                }
            };

//            $scope.hideImageContainer = function ($event,img){
//                $event.get
//
//
//            };

            $scope.loadEdit = function ($index) {

                $("#edit-form").show();
                $("#overLay").show();

                if($scope.posts){
                    $scope.editPost = $scope.posts[$index];

//                    if(!$scope.editPost.img1){
//                        $("#imageContainer1").hide();
//                    }
//
//
//                    if(!$scope.editPost.img2){
//                        $("#imageContainer2").hide();
//                    }
//
//                    if(!$scope.editPost.img3 ) {
//                        $("#imageContainer3").hide();
//                    }

                    // set default value
                    $scope.SelectInput = $scope.editPost.type;

                    if($scope.SelectInput === 'job'){
                        $scope.categories = [
                            {type: "job", value: "Job"}
                        ];
                    }
                    else if($scope.SelectInput === 'rent'){
                        $scope.categories = [
                            {type: "rent", value:"Rent"}
                        ];
                    }else{
                        $scope.categories = [
                            {type: "free-stuff", value: "Free Stuff"},
                            {type: "sports", value: "Sports, Leisure and Games"},
                            {type:"home-and-garden", value: "Home and Garden"},
                            {type: "entertainment", value: "Movies, Books and Music"},
                            {type: "electronics", value: "Electronics"},
                            {type: "fashion", value: "Fashion"},
                            {type: "other", value: "Other"}
                        ];
                    }

                }


            };

            $scope.delete = function ($index) {
                var post = $scope.posts[$index];
                $scope.posts.splice($index, 1);
                $http.delete("/delete-post", {params: {postId: post._id}}).then(function (response) {

                })
            }



        });



        $(init);
        function init() {

            var userId = getCookie("userId");
            if (!userId) {
                window.location.href = '/login.html';
            }
            $("#title-dialog").dialog({
                autoOpen: false, modal: true, show: "blind", hide: "blind"
            });
            $("#title-page").click(function () {
                $("#title-dialog").dialog("open");
            });
            $("#edit-form").hide();
            $("#overLay").hide();
//            $("#chooseFile").change(function (event) {
//                var file = event.files.item(0);
//                addImageToImgContainers(file);
//
//            })
        }


    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

  <div id="nav">
      <div id="nav-wrapper">
          <ul>
            <li><a href="/home.html">Home</a></li>
          </ul>
      </div>
  </div>

<div style="margin-bottom: 50px;" id="nag-container">

</div>

<h5 id="title-page">My Posts</h5>
<div id="title-dialog" title="More Info">
    <p> Here, you can edit or delete your posts. Its an area to manage what you upload to the site</p>
</div>

<!-- Load posts using AngularJS -->
<div id="my-posts-container"  >

    <div ng-repeat="post in posts" class="container">

        <h2 class="title"> {{post.title}}</h2>
        <p class="about">{{post.about}}</p>
        <button ng-click="delete($index);" class="delete">Delete Me</button>
        <button ng-click="loadEdit($index);" class="edit">Edit Me</button>
    </div>

</div>

<!--Enable a user to leave popup box when user clicks bg-->
<div id="overLay" onclick="$('#overLay').hide(); $('#edit-form').hide();"></div>

<!--Dynamically hide -->
<div id = "edit-form">


    <div class="wrapperEdit">

        <label class ="labeltag" >Product Name :</label>
        <!-- <input value="none" type="text" name="timestamp" id="timestamp" style="display: none;">-->

        <input id="title" placeholder="title" ng-model="editPost.title" type="text" class="EditInput" name="title" required>

        <label class ="labeltag">Price(USD) :</label>
        <input class="EditInput" name="price"  id ="price" type="text" maxlength="20" placeholder="input cost" ng-model="editPost.price">


        <label class ="labeltag" for="type">Category:</label>

        <select name="type" ng-model="SelectInput" class="SelectInput" id="type">

            <option ng-model="SelectInput" ng-repeat="category in categories" value="{{category.type}}">{{category.value}}</option>
        </select>


        <label class ="labeltag"  >Location :-</label><div></div> <div></div> <div></div>
        <label class ="labeltag"> Street :</label><input ng-model="editPost.location.street" class="EditInput" id="street" name="street" type="text" maxlength="20">
        <label class ="labeltag" >  City :</label><input ng-model="editPost.location.city" class="EditInput" id="city" name="city" type="text" maxlength="20">
        <label class="labeltag" >  ZipCode :</label><input ng-model="editPost.location.zip" class="EditInput" id="zip" name="zip" type="text" size="5">
        <label class ="labeltag" > State :</label> <input ng-model="editPost.location.state" class="EditInput" id="state" name="state" type="text" size="2">

        <label class ="labeltag" id="ProductDescription" >Product Description</label>
        <textarea ng-model="editPost.about"  id="about" name="about" placeholder="Enter your description" required></textarea>



        <label class ="labeltag">Images</label>




        <div id="image-container">
            <div id='imageContainer1' style="float: left; width: 33%"  class='imageOverlayContainer' ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">

                <img class="imgclass" src="{{editPost.img1 || '../img/DropImageHere.jpg'}}" ng-model="editPost.img1">

                <div class='overlay'></div>

                <div class='buttonDelete'><a id='hideLink1' href='#' ng-click="editPost.img1=''"> Delete </a></div>
            </div>

            <div id='imageContainer2' style="float: left; width: 33%" class='imageOverlayContainer' ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">
                <img class="imgclass" src="{{editPost.img2 || '../img/DropImageHere.jpg'}}" ng-model="editPost.img2">
                <div class='overlay'></div>
                <div class='buttonDelete'><a id='hideLink2' href='#' ng-click="editPost.img2=''"> Delete </a></div>
            </div>

            <div id='imageContainer3' style="float: left; width: 33%"  class='imageOverlayContainer' ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">

                <img class="imgclass" id="testImgDnd" src="{{editPost.img3 || '../img/DropImageHere.jpg'}}" ng-model="editPost.img3" >

                <div class='overlay'></div>
                <div class='buttonDelete'><a id='hideLink3' href='#' ng-click="editPost.img3=''"> Delete </a></div>
            </div>

            <!--<div id="drop_zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">-->
                <!--<input id="inp" type='file'>-->
                    <!--<p id="b64"></p>-->
                <!--<img id="img" height="150">-->
                <!--<strong>Drag one or more files to this Drop Zone ...</strong>-->
            <!--</div>-->

            <!--<input id="chooseFile" type='file' >-->

        </div>

    </div>

    <!--<input type="file" name="imgUploader" id="fileup" multiple required>-->
    <br/>

    <button ng-click="onEditPost();"   id="edit-button" type="submit" >Edit</button>
</div>


</body>

<script>



  //  document.getElementById("inp").addEventListener("change", readFile)





    function drop_handler(ev) {
        console.log("Drop");
        ev.preventDefault();
        // If dropped items aren't files, reject them
        var dt = ev.dataTransfer;
        if (dt.items) {
            // Use DataTransferItemList interface to access the file(s)
            for (var i=0; i < dt.items.length; i++) {
                if (dt.items[i].kind == "file") {
                    var f = dt.items[i].getAsFile();
                    addImageToImgContainers(f);
                    console.log("... file[" + i + "].name = " + f.name);
                }
            }
        } else {
            // Use DataTransfer interface to access the file(s)
            for (var i=0; i < dt.files.length; i++) {
                console.log("... file[" + i + "].name = " + dt.files[i].name);
            }
        }
    }

    function addImageToImgContainers(f)
    {
        var FR= new FileReader();

        FR.addEventListener("load", function(e) {
            //  document.getElementById("testImgDnd").src       = e.target.result;
            let angScope =  angular.element(document.getElementById("testImgDnd")).scope();
            //todo : have a more generic implemetation than the one below.
            //todo : use angulars drag and drop instead of HTML5
            angScope.$apply(function () {
                if(angScope.editPost.img1=='')
                {
                    angScope.editPost.img1 = e.target.result;
                }
                else if(angScope.editPost.img2=='')
                {
                    angScope.editPost.img2 = e.target.result;
                }
                else if(angScope.editPost.img3=='')
                {
                    angScope.editPost.img3 = e.target.result;
                }
                else
                {
                    alert("Only 3 images can be uploaded!");
                }



            })

            //  document.getElementById("b64").innerHTML = e.target.result;
        });

        FR.readAsDataURL( f );
    }

    function dragover_handler(ev) {
        console.log("dragOver");
        // Prevent default select and drag behavior
        ev.preventDefault();
    }


    function dragend_handler(ev) {
        console.log("dragEnd");
        // Remove all of the drag data
        var dt = ev.dataTransfer;
        if (dt.items) {
            // Use DataTransferItemList interface to remove the drag data
            for (var i = 0; i < dt.items.length; i++) {
                dt.items.remove(i);
            }
        } else {
            // Use DataTransfer interface to remove the drag data
            ev.dataTransfer.clearData();
        }
    }

</script>
