
ul#my-posts{
    list-style: none;
}

body{
    background-color: #ffffff;
    font-family: Roboto, sans-serif;

}

#nav {
    background: #52809f;
    position: fixed;
    width: 100%;
    top: 0px;

    margin: 0px;
    padding: 0px;
}
#nav-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background: #52a5c3;
}

#nav ul li a, visited {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.container{
    height: auto;
    width: auto;
    overflow: hidden;
    background-color: #dedede;
}

/*.title{*/
    /*color: #384047;*/
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*font-weight: 400;*/
    /*padding: 10px;*/
/*}*/

.edit{
    background: #5190af;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor:pointer;
    margin: auto;
}

.edit:hover{
  background: #284857;
}

.delete{
    float: right;
    background: #ff6666;
    border: none;
    color: white;
    /*padding: 15px 32px; */
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor:pointer;
    margin: auto;
}

.delete:hover
{
  background:red;
}

.about{
    color: #73818c;  /*8a97a0 */
    background-color: #e8eeef;
    font-size: 16px;
    font-weight: 400;
    margin: 2px;
    padding: 15px;
}


#overLay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    z-index: 9;
    left: 0;
    top: 0;
}

#timestamp{

}

/*#about{*/
    /*max-width: 300px;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/
    /*text-align: center;*/
/*}*/

/*#price{*/
    /*text-align: left;*/
    /*max-width: 60px;*/
    /*!*padding: 5px 5px;*!*/
    /*background: #f4f7f8;*/
    /*!*border-radius: 8px;*!*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*!*font-size: 15px;*!*/

/*}*/

/*#type{*/
    /*text-align: center;*/
    /*max-width: 200px;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/

/*}*/
/*#street{*/
    /*text-align: left;*/
    /*max-width: 200px;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/

/*}*/

/*#city{*/
    /*text-align: left;*/
    /*float:left;*/
    /*max-width: 70px;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/

/*}*/

/*#zip{*/
    /*max-width: 50px;*/
    /*float:left;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/
    /*text-align: left;*/

/*}*/

/*#state{*/
    /*text-align: left;*/
    /*max-width: 70px;*/
    /*float:left;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/

/*}*/

.imgclass{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
    height: 100px; /* Set a small width */
    display: inline-block;
}

/*.divclass{*/
    /*text-align:center;*/
    /*clear:both;*/
/*}*/

#edit-button{

    text-transform: uppercase;
    outline: 0;
    background: #5190af;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

#edit-form{
    z-index: 10;
    background: #FFFFFF;
    max-width: 50%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#my-posts-container {
    display: grid;
    width: 800px;
    border-style:solid;
    border-style: outset;
    border-radius: 8px;
    grid-gap: 10px;
    background-color: #ffffff;
    color: #444;
    margin:auto;

}

#title-page{
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}

#title-page:hover{
    color: #52809f;
}

.imageOverlayContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

.imageOverlayContainer:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.buttonDelete {
    position: relative;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.buttonDelete a {
    position: relative;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.imageOverlayContainer:hover .buttonDelete {
    opacity: 1;
}



.wrapperEdit {
    display: grid;
    grid-template-columns: repeat(4, 25%);

    grid-row-gap: 0.5cm;
    grid-auto-flow: row;

}

/*.wrapperEdit *{*/
    /*max-width: 50px;*/
    /*float:left;*/
    /*padding: 5px 5px;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*resize: none;*/
    /*background: #f4f7f8;*/
    /*border-radius: 8px;*/
    /*color: #8a97a0;*/
    /*font-size: 15px;*/
    /*text-align: left;*/
/*}*/

.wrapperEdit .labeltag{

    text-emphasis: triangle #D55;
    font-weight: bold;
    vertical-align: bottom;

    padding-right: 3px;
}

.wrapperEdit .EditInput
{
    text-align: left;
    max-width: 150px;

    padding: 5px 5px;
    background: #f4f7f8;
    border-radius: 8px;
    resize: none;
    background: #f4f7f8;
    color: #8a97a0;
    font-size: 15px;

}
.wrapperEdit .SelectInput{
    text-align: left;
    width: 300px;

    padding: 5px 5px;
    background: #f4f7f8;
    border-radius: 8px;
    resize: none;
    background: #f4f7f8;
    color: #8a97a0;
    font-size: 15px;

}

#ProductDescription{
    grid-column: span 4;
    text-align: left;
}
#about{
    grid-column: span 4;
    width:100%;
    text-align: left;

    padding: 5px 5px;
    background: #f4f7f8;
    border-radius: 8px;
    resize: none;
    background: #f4f7f8;
    color: #8a97a0;
    font-size: 15px;
}

#image-container {
    grid-column: span 4;
    width: 100%;

    padding: 5px 5px;

    border-radius: 8px;

}
#type{
    grid-column: span 3;
    width: 100%;


}
