@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: #e0e0dd;
    font-family: "Roboto", sans-serif;
}
ul {
    list-style-type: none;
}
#nav {
    background: #52809f;
    position: fixed;
    width: 100%;
    top: 0px;
}
#nav-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background: #52a5c3;
}
#nav ul li a, visited {
    display: block;
    padding: 15px;
    color: #CCC;
    text-decoration: none;
}

#search-bar{
    width: 40%;
    height: 2em;
}
.category{
    text-transform: uppercase;
    display: block;
    border: 0;
    padding: 15px;
    cursor: pointer;
    outline: 0;
    width: 200px;
    background-color: #f5f5f2;
}

.side-bar{
    margin-top: 3em;
}

#more{
    text-transform: uppercase;
    outline: 0;
    background: #52809f;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;

    top: 101em;
    margin-left: 20px;
    padding: 0;
}

.dropdown-content{
    float:right;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown-list{

}


.shadow{
    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc; /* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#cccccc');
}