@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: #e0e0dd;
    font-family: "Roboto", sans-serif;
}
input[type="search"]{
    float: left;
    width: 40%;
    padding: 0;

}

#nag-bar {
    overflow: visible;
    margin: 0;
    padding: 0;
    background-color: #bbbbbf;
    width: 100%;
    position: static;
}

a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #5190af;
}

a:hover{
    background: #52809f;
}


button.admin{
    text-transform: uppercase;
    outline: 0;
    background: #5190af;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    float: left;
    display: block;
}
button:hover,.form button:active,.form button:focus {
    background: #52809f;
}

.category{
    text-transform: uppercase;
    display: block;
    border: 0;
    padding: 15px;
    cursor: pointer;
    outline: 0;
    width: 200px;
    background-color: #f5f5f2;
}
.shadow{
    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#cccccc');
}