<!DOCTYPE html>
<!--A simple login page-->
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="login.css">
	<% if (credential) { %>
     <script>
        alert("Incorrect credential, please try again!");            
     </script>
	<% } %>
	
</head>
<body>

<div class="login-page">
     <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name" required/>
            <input type="password" placeholder="password" required/>
            <input type="text" placeholder="email address" required/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <form method="post" class="login-form" action="validate-signin">
            <input type="text" placeholder="username" name="username" required/>
            <input type="password" placeholder="password" name="password" required></input>
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="sign_up.html">Create an account</a></p>
        </form>
     </div>
</div>

</body>
</html>
