button {
    text-transform: uppercase;
    outline: 0;
    background: #5190af;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    #background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form {
    text-align: center;
    padding: 15% 30% 0% 30%;
    
}

fieldset {
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#code {
    text-align: center;
    background-color: darkgray;
    font-size: 32px;
    font-weight: 800;
}

button {
    width: 40%;
    border-radius: 8px;
}

button:hover{
    background: #52a5c3;
}