<!DOCTYPE html>
<!--A simple login page-->
<html>
<head>
	<title>Validation</title>
	<link rel="stylesheet" type="text/css" href="validation.css">
	<% if (alert) { %>
     <script>
        alert("Incorrect Code, please insert 1111");            
     </script>
	<% } %>
</head>

<body>
<div class="validation-page">

     <div class="form">
	 	<form method="post" class="code-form" action="validate-code">
            <fieldset>
            <legend><label for="code">Unique code send to your email</label></legend>
            <input type="text" placeholder="Enter 1111" id="code" name="code"/><br/><br/>
	 		<button>Submit</button>
            </fieldset>
	 	</form>
	 </div>
</div>
</body>
</html>